@font-face {
    font-family: 'Recoleta';
    src: url('recolleta/Recoleta-Medium.eot');
    src: local('recolleta/Recoleta Medium'), local('Recoleta-Medium'),
        url('recolleta/Recoleta-Medium.eot?#iefix') format('embedded-opentype'),
        url('recolleta/Recoleta-Medium.woff2') format('woff2'),
        url('recolleta/Recoleta-Medium.woff') format('woff'),
        url('recolleta/Recoleta-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Matter';
    src: url('matter/Matter-Light.eot');
    src: local('matter/Matter Light'), local('Matter-Light'),
        url('matter/Matter-Light.eot?#iefix') format('embedded-opentype'),
        url('matter/Matter-Light.woff2') format('woff2'),
        url('matter/Matter-Light.woff') format('woff'),
        url('matter/Matter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;

        .div-1 {
            background: #201047;
            display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 5%;
                position: relative;

                .clich {
                    display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5%;
                        border-radius: 8px 0px 0px 8px;
                        z-index: 3;
                        height: 50%;

                    .logo {
                        height: 20%;
                        align-self: center;
                    }
                    h3 {
                        font-size: 48px;
                        font-family: 'Recoleta';
                        text-align: center;
                        color: #FFFFFF;
                        width: 100%;
                    }
       
                    p {
                        font-family: 'Matter';
                       font-style: normal;
                       font-size: 16px;
                       color: #fff;
                       text-align: center;
                       line-height: 2;
                    }
                }

             .cc-icons {
                 position: absolute;
                 right: 5%;
                 bottom: 5%;
                 width: 20%;
                 display: flex;
                 justify-content: space-between;

                  a {
                      text-decoration: none;
                      i {
                          font-size: 20px;
                          color: #fff;
                      }
                      &:hover {
                          opacity: 0.7;
                      }
                  }
             }
             .bad-plant {
                position: absolute;
                left: 0;
                bottom: 0%;
                height: 30%;
            }
             
        }

        .div-2 {
            background: #fff;
            padding: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            position: relative;
                form {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-size: 32px;
                        color: #573F7B;
                        font-family: 'Recoleta';
                        letter-spacing: 2px;
                        font-weight: bold;
                    }

                    p {
                        font-size: 18px;
                        color: #737B7D;
                        margin-top: 2%;
                        font-family: Arial;
                    }

                    .div-pass {
                        display: flex;
                        flex-direction: column;
                        margin-top: 2.5%;
                        position: relative;

                        label {
                            font-family: 'Recoleta';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 1;
                           color: #AEA79F;

                         }

                         input {
                            width: 100% !important;
                            margin-top: 2.5%;
                            border: none;
                            border-bottom: 3px solid #AEA79F;
                            padding: 1% 0%;
                            outline: none;

                            &::placeholder {
                                font-size: 16px;
                                color: #AEA79F;
                                text-transform: capitalize;
                            }

                            &:focus {
                               color: #F8AF6D;
                            }

                            
                        }

                        span {
                            color: #AEA79F;
                            position: absolute;
                            right: 2%;
                            bottom: 20%;
                            font-size: 15px;
                        }
                    }

                    .div-con-pass {
                        display: flex;
                        flex-direction: column;
                        margin-top: 2.5%;
                        position: relative;

                        label {
                            font-family: 'Recoleta';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 1;
                            color: #AEA79F;
                         }

                         input {
                            width: 100% !important;
                            margin-top: 5%;
                            border: none;
                            border-bottom: 3px solid  #AEA79F;
                            padding: 1% 0%;
                            outline: none;

                            &::placeholder {
                                font-size: 16px;
                                color: #AEA79F;
                                text-transform: capitalize;
                            }

                            &:focus {
                               color: #F8AF6D;
                            }
                        }

                        span {
                            color: #AEA79F;
                            position: absolute;
                            right: 2%;
                            bottom: 20%;
                            font-size: 15px;
                        }
                    }

                    #submit {
                        width: 100%;
                        margin-top: 5%;
                        padding: 2% 7%; 
                        background: #201047;
                        color: #fff;
                        border-radius: 8px;
                        font-size: 16px;
                        font-family: 'Matter';
                        outline: none;
                        border: none;

                        &:hover {
                            color: #201047;
                            font-family: 'Recoleta';
                            background: #f4f4f4;
                        }
                    }

                    
                
                }

                .big-coin {
                    height: 20%;
                    position: absolute;
                    right: 5%;
                    bottom: 3%;
                }
        }  
        
}

@media screen and (max-width:1024px) {
    section {
        flex-direction: column;

        .div-1 {
            height: 50vh;

            
        }

        .div-2 {
            height: 50vh;
            padding: 5%;
        }
    }
}


@media screen and (max-width:768px) {
 section {
     flex-direction: column;

     .div-1 {
         display: none;
     }

     .div-2 {
         height: 100vh;
         width: 100vw;
         padding: 10%;
            form {
                width: 100%;
                h3 {
                    font-size: 20px;
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                    margin-top: 5%;
                    line-height: 2;
                }


                .div-pass {
                    margin-top: 5%;

                    label {
                        font-size: 14px;
                    }

                    input {
                        padding: 4% 0%;
                        border-bottom: 1px solid  #AEA79F;
                        
                    &::placeholder {
                        font-size: 14px;
                    } 

                     }
                }

                .div-con-pass {
                    margin-top: 5%;

                    label {
                        font-size: 14px;
                    }

                    input {
                        padding: 4% 0%;
                        border-bottom: 1px solid  #AEA79F;
                        
                    &::placeholder {
                        font-size: 14px;
                    } 

                     }
                }


                #submit {
                    margin-top: 10%;
                    font-size: 14px;
                }

               
            }

            .big-coin {
                left: 60%;
                height: 15%;
            }
     }
 }


 
}